html{
  min-height: 100%;
}

*{
  margin: 0;
  padding: 0;
}


.result{
  border-radius: 8px;
  background-color: white;
  width: 90%;
  margin-left: 5%;
  height: auto;
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);  
}
/*========================== СТИЛИ ДЛЯ ТАБЛИЦЫ ============================*/
table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-radius: 10px;
border-spacing: 0;
text-align: center;
}
th {
background: #BCEBDD;
color: black;
text-shadow: 0 1px 1px #2D2020;
padding: 10px 20px;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
th:first-child, td:first-child {
text-align: left;
}
th:first-child {
border-top-left-radius: 10px;
}
th:last-child {
border-top-right-radius: 10px;
border-right: none;
}
td {
padding: 10px 20px;
background: #F8E391;
}
tr:last-child td:first-child {
border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
border-radius: 0 0 10px 0;
}
tr td:last-child {
border-right: none;
}




/*========================== СТИЛИ ДЛЯ ФОРМЫ ==============================*/














/* №1 Выпадающее меню с Анимацией */
nav {
  padding: 20px; /* Отвечает за растояние нава от верха страницы */
  text-align: center;
}
nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  background: #ddd;
  border-radius: 5px;
}
nav > ul > li {
  z-index: 1001;/* небыло */
  float: left;
  width: 120px;/*150px*/
  height: 45px;/*65px*/
  line-height: 45px;/*65px*/
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
nav > ul > li:hover {
  background: #777777;
  border-radius: 5px;
}
/* Удаление стилей для ссылок в дроп меню */
nav ul a{
 text-decoration:none;
}



ul.drop-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 0;
}
ul.drop-menu li {
  background: #666;
  color: rgba(255, 255, 255, 0.7);
}
ul.drop-menu li:hover {
  background: #606060;
}
ul.drop-menu li:last-child {
  border-radius: 0px 0px 5px 5px;
}

ul.drop-menu li {
  display: none;
}

li:hover > ul.drop-menu li {
  display: block;
}

















    /* Базовые стили формы */
form{
  margin:0 auto;
  /*max-width:40%;*/
  /*box-sizing:border-box;*/
  padding:20px;
  border-radius:5px; 
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45); 
  width: 400px; 
}
form .checkbox{
    
}
form .textarea{
  height: 100px;
  width: 100%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 2px solid;
  box-sizing:border-box;
  font-family: 'Open Sans', sans-serif;
  font-size:16px; 
  padding:10px;
  margin-bottom:20px;  
}
h4{
  padding: 5px;
  color: #121212;
  font-family: 'Open Sans', sans-serif;  
}
/* Стили для названий label */
form label{
  font-family: 'Open Sans', sans-serif;
  font-size:16px; 
  color: #757575;
}
/* Стили полей ввода */
.textbox{
  height: 30px;
  width: 300px;
  border-radius:3px;
  border:rgba(0,0,0,.3) 2px solid;
  box-sizing:border-box;
  font-family: 'Open Sans', sans-serif;
  font-size:16px; 
  padding:10px;
  margin-bottom:20px;  
}
.message:focus,
.textbox:focus{
  outline:none;
  border:rgba(24,149,215,1) 2px solid;
  color:rgba(24,149,215,1);
}
/* Стили текстового поля */
.message{
    background: rgba(255, 255, 255, 0.4); 
    width:100%;
    height: 120px;
    border:rgba(0,0,0,.3) 2px solid;
    box-sizing:border-box;
    -moz-border-radius: 3px;
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
    display:block;
    padding:10px;
    margin-bottom:30px;
    overflow:hidden;
}
/* Базовые стили кнопки */
.button{
  height:40px;
  width:35%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 0px solid;
  box-sizing:border-box;
  padding:10px;
  background:#90c843;
  color:#FFF;
  font-family: 'Open Sans', sans-serif;  
  font-weight:400;
  font-size: 14pt;
  transition:background .4s;
  cursor:pointer;
}
/* Изменение фона кнопки при наведении */
.button:hover{
  background:#80b438;
}